//
//  Config.xcconfig
//  GitHub
//
//  Created by Ryan Forsyth on 2023-10-11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// ⚠️ This should normally be ignored by source control if it contains secret keys ‼️

// /$()/ -> workaround for encoding //
GH_API_URL = https:/$()/api.github.com

GH_ACCESS_TOKEN = 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
